.filter-bar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    background-color: #172740;
    border-radius: 4px;
    margin-top: 20px;
    color: #a3cdff;
    height: 100px;
}

.filter-item {
    margin: 20px auto;
}

.filter-item label {
    margin-right: 10px;
}

.filter-item input,
.filter-item select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #1f3a60;
    color: white;
}

.filter-item input[type="number"] {
    width: 80px; 
}

.filter-button {
    margin: 20px auto;
    padding: 5px 10px;
    background-color: #9fcef8;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.filter-button:hover {
    background-color: #0056b3;
    color: white;
}
    